<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <h1> <a class="navbar-brand " href="/blog">Bloggers</a></h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/blog">Home </span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/blog/new">Upload Blogs</a>
        </li>
        <%if(!currentUser){%>
        <li>
          <a class="nav-link" href="/login">Login</a>
        </li>
        <%} else {%>
          <li>
            <a href="#" class="nav-link"> <h5>Hello <%=currentUser.username%> </h5></a>
          </li>
        
        <li>
          <a href="/logout"  class="nav-link "style=" color:red;">Logout</a>
        </li>
        <%}%>
      </ul>

      </form>
    </div>
  </nav>